<h2>Add New Post</h2>
<p>
  <form action="/new" method="POST" role="form">
    <div class="form-inline">
      <label for="author">Author</label>
      <input name="post[author]" type="text" class="form-control" placeholder="Type your name">
    </div>
    <br />
    <textarea name="post[content]" class="form-control" rows="6" placeholder="Type post text here..."></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</p>